.App-header{
		display: flex;
		flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;    
}
.title-div {}
.slogan {}
.header-nav {
  margin:3rem;
}
.nav-button {}
.signUpIn {
  margin: 2rem;
}